{% extends 'apps/base.html' %}


{% block content %}
<div class='container'>
  <div class='row'>
    <div class='col-12'>
      <h5 class='py-2'>ABOUT</h5>
    </div>
    <div class='col-12'>
      <h6>代表者</h6>
      <p class='small'>平沢 平八</p>
    </div>
    <div class='col-12'>
      <h6>電話</h6>
      <p class='small'>050-5480-1391</p>
    </div>
    <div class='col-12'>
      <h6>所在地</h6>
      <p class='small'>東京都東村山1-39-11</p>
    </div>
  </div>
</div>
{% bootstrap_javascript jquery='full' %}
{% endblock %}
