{% extends 'apps/kaisen_base.html' %}
{% load static %}
{% block content %}

<!--
<ul class='nav nav-tabs'>
  {% for it in item_types %}
  <li class='nav-item'>
    <a href='{{ it.url }}' class='small nav-link {{ it.is_active|yesno:"active, "}} '>
      {{ it.label }}
    </a>
  </li>
  {% endfor %}
</ul>
-->

<ul class='nav nav-tabs'>
  {% for ig in item_groups %}
  <li class='nav-item'>
    <a href='{{ ig.url }}' class='small nav-link {{ ig.is_active }} '>
      {{ ig.label }}
    </a>
  </li>
  {% endfor %}
</ul>

{% for it in item_types %}
<button type='button' class='btn btn-primary rounded-pill m-2'>
  <div class='small'>
    {{ it.label }}
  </div>
</button>
{% endfor %}

{% include page_template %}
{% block js %}
    {{ block.super }}
    <script src='{% static 'apps/el-pagination.js' %}'></script>
    <script>
        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollMargin: 20
        });
    </script>
{% endblock %}

{% endblock %}
